body{
  margin: 0;
  padding: 0;
}
.row{
  width: 100%;
  height: 100vh;
  background: url('../images/sunny-day.jpg');
  background-size: cover;
  position: relative;
}
.cat{
  left: 41vw;
  width: 330px;
  height: 207px;
  position: absolute;
  bottom: 15vh;
  background: url(../images/kitten-medium.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}


@media (max-width:980px) {
  .row{
    width: 100%;
    height: 100vh;
    background: url('../images/dawn.png');
    background-size: cover;
    position: relative;
  }
  .cat{
    left: 26vw;
    width: 52vw;
    height: 209px;
    position: absolute;
    bottom: 3vh;
    background: url(../images/kitten-large.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@media (max-width:650px) {
  .row{
    width: 100%;
    height: 100vh;
    background: url('../images/night.jpg');
    background-size: cover;
    position: relative;
  }
  .cat{
    left: 26vw;
    width: 52vw;
    height: 209px;
    position: absolute;
    bottom: 10vh;
    background: url(../images/kitten-small.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
